<!DOCTYPE html>
<html>
    <head>
        <title>
            change password
        </title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>
    <body>
        <center>
            <!-- Heading for the change password section -->
            <div class="headings">
                <h3>Change Password</h3>
            </div>
            <!-- Form for changing password -->
            <form id="passwordchangeform" class="lrforms" action="/changepassword" method="POST">
                <label for="currentPassword">Current Password</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" required>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <button type="submit">Submit</button>
                <a href="/profile"><button type="button">Back</button></a>
            </form>
        </center>
            <script nonce="{{nonce}}">
                // Handle form submission for changing password
                document.getElementById("passwordchangeform").addEventListener("submit", async (event) => {
                    event.preventDefault();
                    const form = event.target;
                    const formData = new FormData(form);
                    const data = new URLSearchParams(formData);
                    const password = form.newPassword.value;
                    const password2 = form.confirmPassword.value;
                    if (password !== password2) {
                        alert("New password and confirm password do not match.");
                        return;
                    }

                    // Send PUT request to update user details
                    const response = await fetch(form.action, {
                        method: 'PUT',
                        body: data,
                    });

                    if (response.ok) {
                        window.location.href = '/profile';
                    } else {
                        const result = await response.json();
                        alert(result.error);
                    }
                });

        
            </script>

        
    </body>
</html>