<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <center>
        <!-- Container for the menu -->
        <div id="menuContainer"></div>

        <!-- Heading for the dashboard -->
        <div class="headings">
            <h3>Find Routes!</h3>
        </div>
        
        <!-- Form for searching buses -->
        <div class="Form_container">
            <form id="searchbus" class="bussearchandbookform" method="POST">
                <label>From</label>
                <input type="text" id="from" name="from" required>
                <label>To</label>
                <input type="text" id="to" name="to" required>
                <label>Date of Travel</label>
                <input type="date" id="dateoftravel" name="dateoftravel" required>
                <input type="hidden" id="csrf_token" value="{{csrf_token}}">
                <button type="button" id="swapButton">Swap</button>
                <button type="submit">Search</button>
            </form>
        </div>

        <!-- Heading for available buses -->
        <div class="headings">
            <h3 id="buslistheading"></h3>
            <ul id="busList"></ul>
        </div>
    </center>

    <script nonce="{{nonce}}">
        // Function to load the menu from an external file
        function loadMenu() {
            fetch('menu.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('menuContainer').innerHTML = data;

                    // Attach logout event listener after the menu is loaded
                    document.getElementById('logout').addEventListener('click', logout);
                });
        }

        //Function to swap from and to values
        function swap() {
            const from_value = document.getElementById("from").value;
            const to_value = document.getElementById("to").value;
            document.getElementById("from").value = to_value;
            document.getElementById("to").value = from_value;
        }

        // Function to set the minimum travel date to the current date
        function setMinTravelDate() {
            const dateInput = document.getElementById('dateoftravel');
            const today = new Date();
            const tomorrow = new Date(today);
            tomorrow.setDate(tomorrow.getDate() + 1);

            const year = tomorrow.getFullYear();
            const month = String(tomorrow.getMonth() + 1).padStart(2, '0');
            const day = String(tomorrow.getDate()).padStart(2, '0');

            const minDate = `${year}-${month}-${day}`;
            dateInput.setAttribute('min', minDate);
        }

        // Event listener for when the document is fully loaded
        document.addEventListener('DOMContentLoaded', function() {
            loadMenu(); // Load the menu
            setMinTravelDate(); // Set the minimum travel date
            document.getElementById('swapButton').addEventListener('click', swap);
            
            
        });

        async function logout() {
        try {
            const response = await fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
        if (response.ok) {
            window.location.href = '/';
        } else {
            alert('Logout failed');
        }
        } 
        catch (error) {
        console.error('Error during logout:', error);
        alert('An error occurred. Please try again.');
        }
        }


        // Event listener for submitting the search bus form
        document.getElementById('searchbus').addEventListener("submit", async function(event){
            event.preventDefault(); // Prevent the default form submission behavior
            const to = document.getElementById('to').value;
            const from = document.getElementById('from').value;
            const traveldate = document.getElementById('dateoftravel').value;
            const token = localStorage.getItem('token');
            const csrf_value = document.getElementById('csrf_token').value;

            // Fetch buses based on search criteria
            const bus_response = await fetch('/buses', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': csrf_value 
                },
                body: JSON.stringify({ from, to, traveldate })
            });

            if (bus_response.ok) {
                const buses = await bus_response.json();
                const busList = document.getElementById('busList');
                busList.innerHTML = ''; // Clear existing bus list
                document.getElementById('buslistheading').innerHTML = "Available Buses";

                // Iterate through retrieved buses and display them
                buses.forEach(bus => {
                    const listItem = document.createElement('li');
                    listItem.innerHTML = `Bus Name: <strong>${bus.bus_name}</strong>&emsp;Fare: <strong>${bus.bus_fare}</strong>&emsp;Available Seats: <strong>${bus.available_seats}</strong>&emsp;Duration: <strong>${bus.duration}</strong>hrs&emsp;<strong>${bus.start_time}</strong> - <strong>${bus.end_time}</strong>`;

                    // Create a button to book the bus
                    const bookButton = document.createElement('button');
                    bookButton.textContent = 'Book';
                    bookButton.addEventListener('click', () => {
                        // Redirect to booking page with bus ID and travel date
                        window.location.href = `/bookpage?bus_id=${bus.id}&travel_date=${traveldate}`;
                    });
                    listItem.appendChild(bookButton); // Append the book button to the list item
                    busList.appendChild(listItem); // Append the list item to the bus list
                });
            } else {
                alert('No buses are available in this route');
            }
        });
    </script>
</body>
</html>
