<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <center>
        <!-- Heading section -->
        <div class="headings">
            <h2>SECURE PUBLIC TRANSPORT BOOKING SYSTEM</h2>
        </div>

        <!-- Menu section -->
        <div class="menu">
            <!-- Login button -->
            <a href="/login"><button>Login</button></a>
            <!-- Create Account button -->
            <a href="/register"><button>Create Account</button></a>
        </div>
    </center>
</body>
</html>
